APP_NAME=My_Train_App
API_URL=127.0.0.1
MONGODB_URI=mongodb://localhost:27017/Api_Train

DB_HOST=localhost
DB_PORT=3306
DB_NAME=train_app
DB_USER=root
DB_PASSWORD=jcg3773

FRONT_URL=http://localhost:5000