:root[data-theme="blue"] {
  --bs-primary: #0d6efd;
}

:root[data-theme="green"] {
  --bs-primary: #198754;
}

:root[data-theme="red"] {
  --bs-primary: #dc3545;
}

:root[data-theme="yellow"] {
  --bs-primary: #ffc107;
}

:root[data-theme="grey"] {
  --bs-primary: #6c757d;
}